.card {
    background-color: #fff;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 1rem 1.5rem rgba(0,0,0,0.1);
    height: 450px;
  }
  .card .banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 9rem;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
  }
  .card .creator {
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.3);
    border-radius: 50%;
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .card .creator:hover {
    transform: scale(1.1);
  }
  
  .card h2.name {
    text-align: center;
    margin: 0;
  }
  .card .title {
    text-align: center;

  }
  .card .actions {

    display: flex;
    flex-direction: column;
  }
  .card .actions .follow-info {
    display: flex;
  }
  .card .actions .follow-info h2 {
    text-align: center;
    width: 50%;
    margin: 0;
    box-sizing: border-box;
  }
  .card .actions .follow-info h2 a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    border-radius: 0.8rem;
    transition: background-color 100ms ease-in-out;
  }
  .card .actions .follow-info h2 a span {
    font-weight: bold;
  }
  .card .actions .follow-info h2 a small {
    color: #afafaf;
    font-size: 0.85rem;
    font-weight: normal;
  }
  .card .actions .follow-info h2 a:hover {
    background-color: #f2f2f2;
  }
  .card .actions .follow-info h2 a:hover span {
    color: #007ad6;
  }
  .card .actions .follow-btn button {
    color: inherit;
    font: inherit;
    font-weight: bold;
    background-color: #ffd01a;
    width: 100%;
    border: none;
    padding: 0.8rem;
    outline: none;
    box-sizing: border-box;
    border-radius: 1.5rem/50%;
    transition: background-color 100ms ease-in-out, transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  }
  .card .actions .follow-btn button:hover {
    background-color: #efb10a;
    transform: scale(1.1);
  }
  .card .actions .follow-btn button:active {
    background-color: #e8a200;
    transform: scale(1);
  }
  .card .desc {
    text-align: justify;
  }

/* css pagination */

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 5px 13px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 3px;
}

.pagination .page-num:hover {
  background: #2ba3ff;
  color: white;
}

.pagination .active-paginate {
  background: #2ba3ff;
  color: white;
}