.trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  margin: 16px;
  background-image: url("../../../public/assets/imgs/fiverr-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
